<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Uni Found You</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >
</head>

<body>

    <main class="card">

        <h1>Uni got your IP address! 🐾</h1>

        <p class="subtitle">
            You followed a link from an email, and the website received
            information about your connection.
        </p>

        <img
            src="/static/uni.jpeg"
            alt="Uni the cat"
            class="cat-image"
        >

       
    </main>

</body>
</html>